/* .education {
    display: grid;
    gap: 1rem;
} */

.school {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    padding-bottom: 1rem;
}

.school-name {
    font-weight: 700;
    font-size: large;
}