.general {
    display: grid;
    grid-template-rows: auto;
}

.edit {
    padding: 1rem;
    border: 2px solid transparent;
}

.edit:hover {
    background-color: #bada55;
    border-radius: 1rem;
    border: 2px solid black;
}

.edit.large {
    font-size: xx-large;
}

.edit:focus {
    border: 2px solid black;
    border-radius: 1rem;
}

button {
    width: 5rem;
}