.general {
    display: grid;
    grid-template-rows: auto;
    /* gap: 1rem; */
}

.edit {
    padding: 1rem;
    border: none;
}

.edit.large {
    font-size: xx-large;
}

.edit:focus {
    border: 2px solid black;
    border-radius: 1rem;;
}