header,
footer {
  background-color: darkgray;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

header > h1,
header > h2,
footer > h1,
footer > h2 {
  margin: 0;
  padding: 1rem;
  text-align: center;
}
