header,
footer {
  display: grid;
  background-color: darkgray;
  text-align: center;
  grid-template-rows: auto;
  justify-content: center;
}

header {
  margin-bottom: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

header > h1,
header > h2,
footer > h1,
footer > h2 {
  margin: 0;
  padding: 1rem;
}
