.practical-heading {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 1rem;
  min-width: 80vw;
}

.work-experience {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "company company company delete"
    "title start-date end-date ."
    "description description description .";

  gap: .25rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 2px solid black;
}

.company-name {
  font-weight: 700;
  font-size: large;
}

.delete {
  grid-area: delete;
  justify-self: end;
}

.company {
  grid-area: company;
}

.title {
  grid-area: title;
}

.start-date {
  grid-area: start-date;
}

.end-date {
  grid-area: end-date;
}

.description {
  grid-area: description;
}