#edit-toggle {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
  gap: 1rem;
}


/*
  Modified from Codepen by Marcus Burnette:
  https://codepen.io/mburnette/pen/LxNxNg

  I wanted the slider to be more reactive and easily sizeable
*/

:root {
  --size-tog-width: 60px;
  --size-tog-height: 30px;
  --size-tog-offset: 10%;
}

input[type=checkbox]{
  display: none;
}

/* slider detent */
label {
	display: block;
	position: relative;
	cursor: pointer;
	background: grey;
	width: var(--size-tog-width);
	height: var(--size-tog-height);
	border-radius: 100px;
}

/* 
slider circle 
Note: width and height need to be adjusted
*/
label:after {
	content: '';
	position: absolute;
	top: var(--size-tog-offset);
	left: calc(var(--size-tog-offset) - 1px);
	width: 40%;
	height: 80%;
	background: #fff;
	border-radius: 50%;
	transition: 0.3s;
}

/* active */
input:checked + label {
	background: #bada55;
}

/* animation */
input:checked + label:after {
	left: calc(100% - var(--size-tog-offset));
	transform: translateX(-100%);
}